/* ==========================================================================
   Components Address
   ========================================================================== */

.address {
  h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
  p {
    margin-bottom: 24px;
  }
  a {
    color: color(primary);
    text-decoration: none;
  }
}
