-
  data = {
    category: 'Participants',
    events: {
      img: 'upcoming-events.jpg',
      description: 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.',
      link: 'https://google.com'
    },
    list: [
      {
        img: 'post-1.jpg',
        title: 'andramatin ARCHITECTS',
        date: '26 March 2020',
        desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      },
      {
        img: 'post-2.jpg',
        title: 'Adria Yurike Architects',
        date: '12 March 2020',
        desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      },
      {
        img: 'post-3.jpg',
        title: 'Curatorial Review',
        date: '12 March 2020',
        desc: 'If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.'
      },
      {
        img: 'participant-5.jpg',
        title: 'Security Post by Budipradono Architects',
        date: '12 March 2020',
        desc: 'This spot is one of the neglected spaces in the residential area of Sector 2 because it is no longer functioning as a security post. Therefore the space would be converted as an extension of a garden.'
      },
      {
        img: 'post-7.jpg',
        title: 'Diff-a-ble by Studio ArsitektropiS',
        date: '16 September 2020',
        desc: 'This installation stands on the land to be built by an Extension School of Sayap Ibu Foundation. which this allows visitors to feel a position as children with disabilities in carrying out their daily activities.'
      },
      {
        img: 'post-8.jpg',
        title: 'Comparing Perspective by Rumah Miring by CGartspace',
        date: '28 August 2020',
        desc: 'Kemalezedine dalam delapan tahun terakhir banyak membuat pergerakan seni terkait dengan sejarah seni di Bali hingga...'
      },
      {
        img: 'post-11.jpg',
        title: 'Online Design Talks with Mauro Panzeri',
        date: '23 March 2022',
        desc: 'If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators.'
      },
      {
        img: 'post-12.jpg',
        title: 'Online Masterclass with Andra Matin',
        date: '23 March 2022',
        desc: 'Andra Matin class uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.'
      },
      {
        img: 'post-13.jpg',
        title: 'Design Talks with Abie Abdillah',
        date: '23 March 2022',
        desc: 'If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators.'
      },
    ]
  }

include ../../layouts/participants.pug
