-
  data = {
    category: 'Participants',
    img: 'participant-1.jpg',
    title: 'andra matin architects',
    side: {
      to: 'participants.html',
      title: 'Related Participants',
      list: [
        {
          to: 'single-participants.html',
          img: 'participant-2.jpg',
          title: 'Adria Yurike Architects',
          desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        },
        {
          to: 'single-participants.html',
          img: 'participant-3.jpg',
          title: 'Anneke Prasyanti',
          desc: 'If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators.'
        },
        {
          to: 'single-participants.html',
          img: 'participant-4.jpg',
          title: 'Atelieryoda',
          desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.'
        },
      ]
    }
  }

include ../../layouts/single-participants.pug
