/* ==========================================================================
   Layouts: Footer
   ========================================================================== */

.footer {
  display: none;
  @include medium {
    display: block;
  }
}
