/* ==========================================================================
   Layouts: Home
   ========================================================================== */

.snap {
  @include medium {
    height: 100%;
  }
}

.home {
  @include medium {
    height: 100%;
    @include scroll("y", auto, "hide");
  }
  .container {
    @include medium {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    @include large {
      margin-left: -16px;
      margin-right: -16px;
    }
    @include medium {
      margin-left: 0;
      margin-right: 0;
    }
  }
  &__side,
  &__posts {
    height: 100vh;
    flex: 0 0 25%;
    border-right: 1px solid color(grey);
    padding: 76px 20px 80px;
    @include scroll("y", auto, "hide");
    @include large {
      padding-left: 16px;
      padding-right: 16px;
    }
    @include medium {
      flex: 0 0 100%;
      padding: 0;
      height: initial;
      border-right: 0;
      overflow: initial;
    }
    &:last-child {
      border-right: 0;
    }
  }
  &__side {
    @include medium {
      position: relative;
      padding: 0 32px 64px;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
        border-bottom: 1px solid color(grey);
      }
    }
    @include small {
      padding-left: 20px;
      padding-right: 20px;
      &::after {
        left: 10px;
        right: 10px;
      }
    }
  }
  &__posts {
    @include medium {
      padding-top: 38px;
      padding-bottom: 50px;
      display: block;
      width: 100%;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
        border-bottom: 1px solid color(grey);
      }
    }
    @include small {
      &::after {
        left: 10px;
        right: 10px;
      }
    }
    &:last-child {
      &::after {
        border-bottom: none;
      }
    }
  }
  &__head {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 82px;
    transform: translateY(-3px);
    @include medium {
      transform: none;
      margin-bottom: 32px;
      padding: 2px 32px 0;
      @include scroll("x", touch, "hide");
    }
    @include small {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__category {
    display: flex;
    align-items: center;
    @include ellipsis;
    @include medium {
      overflow: initial;
      text-overflow: initial;
      margin-right: 10px;
    }
    &__name {
      margin-right: 12px;
      @include font-size(h2);
      @include large {
        @include font-size(h3);
        margin-right: 8px;
      }
      @include medium {
        @include font-size(h4);
        line-height: 1;
      }
    }
    .fi-arrow-right {
      display: none;
      @include medium {
        display: inline-block;
        vertical-align: middle;
        width: 8px;
        font-size: 0.8rem;
        margin-top: -2px;
      }
    }
    .fi-arrow-down {
      width: 8px;
      transition: all 0.3s ease;
      transform: translateY(-2px);
      @include medium {
        display: none;
      }
      &::before {
        display: block;
      }
      .show-dropdown & {
        transform: rotate(-180deg) translateY(2px);
      }
    }
  }
  &__sub-category {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 27px;
    left: 0;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    background-color: color(white);
    padding-right: 4px;
    padding-bottom: 2px;
    transition: all 0.25s ease;
    transform: translateY(2px);
    @include large {
      top: 24px;
    }
    @include medium {
      align-items: center;
      padding-right: 0;
      padding-bottom: 0;
      transform: none;
      opacity: 1;
      visibility: visible;
      position: relative;
      top: initial;
      left: initial;
      display: flex;
    }
    .show-dropdown & {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
    &__item {
      padding-top: 2px;
      padding-bottom: 2px;
      cursor: pointer;
      text-transform: uppercase;
      @include font-size(h4);
      line-height: 1;
      letter-spacing: 0.15em;
      margin-bottom: 4px;
      transition: all 0.3s ease;
      @include large {
        margin-bottom: 2px;
      }
      @include medium {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-right: 12px;
        white-space: nowrap;
        &:last-child {
          margin-right: 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:hover,
      &.active {
        color: color(primary);
      }
    }
  }
  &__current-category {
    flex: 1 1 0;
    text-transform: uppercase;
    color: color(primary);
    margin-left: 12px;
    letter-spacing: 0.15em;
    text-align: right;
    @include font-size(h4);
    @include ellipsis;
    @include large {
      margin-left: 8px;
    }
    @include medium {
      display: none;
    }
  }
  &__list {
    margin-bottom: 68px;
    @include medium {
      display: block;
      font-size: 0;
      padding-left: 32px;
      padding-right: 32px;
      margin-bottom: 34px;
      @include scroll("x", touch, "hide");
    }
    @include small {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__action {
    display: inline-block;
    vertical-align: middle;
    @include medium {
      margin-left: 32px;
    }
    @include small {
      margin-left: 20px;
    }
  }
  &__copyright {
    display: none;
    @include medium {
      display: block;
      padding: 20px 32px;
    }
    @include small {
      padding: 20px 20px 12px;
    }
    &__txt {
      @include medium {
        margin-bottom: 0;
        letter-spacing: 0.15em;
      }
      @include small {
        @include font-size(h6);
      }
    }
  }
  /* cards-scroll-x ----------------------------------------------------------- */
  @include cards-scroll-x;
}
