/* ==========================================================================
   Layouts: Layout Primary
   ========================================================================== */

.layout-primary {
  $lp: &;
  .container {
    @include medium {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    @include large {
      margin-left: -16px;
      margin-right: -16px;
    }
    @include medium {
      display: block;
      margin-left: 0;
      margin-right: 0;
      padding-right: 32px;
      padding-left: 32px;
    }
    @include small {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__side {
    flex: 0 0 25%;
    border-right: 1px solid color(grey);
    @include medium {
      flex: 0 0 100%;
      border-right: 0;
      margin-bottom: 56px;
    }
  }
  &__posts {
    flex: 0 0 75%;
    @include medium {
      flex: 0 0 100%;
      margin-left: -32px;
      margin-right: -32px;
    }
    @include small {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
  &__side,
  &__posts {
    height: 100vh;
    padding: 76px 20px 80px;
    @include scroll("y", auto, "hide");
    @include large {
      padding-left: 16px;
      padding-right: 16px;
    }
    @include medium {
      padding: 0;
      height: initial;
    }
  }
  &__head {
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-3px);
    @include large {
      margin-bottom: 70px;
    }
    @include medium {
      transform: none;
      flex-wrap: wrap;
      margin-bottom: 18px;
      position: relative;
      z-index: zi(layout-primary-head);
    }
    @include small {
      margin-bottom: 34px;
    }
  }
  &__main {
    display: flex;
    align-items: center;
    margin-top: -8px;
    @include medium {
      flex: 0 0 100%;
      margin-top: 0;
      margin-bottom: 28px;
    }
  }
  &__name {
    margin-bottom: 0;
    text-transform: uppercase;
    color: color(primary);
    letter-spacing: 0.15em;
    @include large {
      @include font-size(h3);
    }
    @include medium {
      @include font-size(h4);
    }
  }
  &__category {
    margin-bottom: 0;
    text-transform: uppercase;
    color: color(primary);
    letter-spacing: 0.15em;
    margin-right: 12px;
    white-space: nowrap;
    text-decoration: none;
    @include medium {
      margin-right: 8px;
      @include font-size(h4);
    }
  }
  .fi-arrow-right {
    display: block;
    margin-right: 24px;
    color: color(primary);
    width: 8px;
    font-size: 0.8rem;
    margin-top: -2px;
    @include medium {
      margin-right: 10px;
    }
  }
  &__sub-category {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    @include scroll("x", auto, "hide");
    @include medium {
      overflow: initial;
    }
    &__item {
      margin-right: 24px;
      transition: all 0.3s ease;
      color: color(grey);
      @include large {
        margin-right: 20px;
      }
      @include medium {
        margin-right: 12px;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover,
      &.active {
        color: color(primary);
      }
    }
    &__link {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      @include large {
        @include font-size(h4);
      }
    }
  }
  &__body {
    @include medium {
      padding-left: 16px;
      padding-right: 16px;
    }
    @include small {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__list {
    margin: -21px -20px 68px;
    @include large {
      margin-left: -16px;
      margin-right: -16px;
    }
    @include medium {
      width: 100%;
      margin: 0 0 40px;
    }
    @include small {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 60px;
    }
  }
  &__sizer {
    width: 33.3333333%;
    @include medium {
      width: 50%;
    }
    @include small {
      width: 100%;
    }
  }
  .card-primary {
    width: 33.3333333%;
    padding: 21px 20px;
    @include large {
      padding-left: 16px;
      padding-right: 16px;
    }
    @include medium {
      padding-top: 20px;
      padding-bottom: 20px;
      width: 50%;
    }
    @include small {
      padding: 0;
      margin-bottom: 40px;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  /* category ----------------------------------------------------------------- */
  &--category {
    #{$lp} {
      &__main {
        padding-right: 40px;
        overflow: hidden;
        @include medium {
          padding-left: 32px;
          padding-right: 32px;
          @include scroll("x", touch, "hide");
        }
        @include small {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
    .upcoming-events {
      @include medium {
        display: none;
      }
    }
  }
  /* participants ------------------------------------------------------------- */
  &--participants {
    #{$lp} {
      &__head {
        @include medium {
          padding-left: 32px;
          padding-right: 32px;
        }
        @include small {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
    .upcoming-events {
      @include medium {
        display: none;
      }
    }
    .sort {
      @include medium {
        margin-left: 0;
      }
    }
  }
  /* search-result ------------------------------------------------------------ */
  &--search-result {
    #{$lp} {
      &__head {
        @include medium {
          padding-left: 32px;
          padding-right: 32px;
        }
        @include small {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
    .upcoming-events {
      @include medium {
        display: none;
      }
    }
    .sort {
      @include medium {
        margin-left: 0;
      }
    }
  }
}
