/* ==========================================================================
   Layouts: Single
   ========================================================================== */

.single {
  &__content {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
  }
  &__side,
  &__posts,
  &__related {
    height: 100vh;
    border-right: 1px solid color(grey);
    padding: 76px 20px 80px;
    @include scroll("y", auto, "hide");
    &:last-child {
      border-right: 0;
    }
  }
  &__side {
    flex: 0 0 25%;
  }
  &__posts {
    flex: 0 0 50%;
  }
  &__related {
    flex: 0 0 25%;
    &__title {
      text-transform: uppercase;
      letter-spacing: 0.15em;
      margin-bottom: 82px;
      transform: translateY(-3px);
    }
    &__list {
      margin-bottom: 68px;
    }
  }
  &__head {
    margin-bottom: 82px;
    transform: translateY(-3px);
  }
  &__category {
    text-transform: uppercase;
    color: color(primary);
    letter-spacing: 0.15em;
    margin-bottom: 0;
  }
  &__img {
    margin: 0 0 30px;
    &__el {
      width: 100%;
    }
  }
  &__title {
    color: color(primary);
    letter-spacing: 0.15em;
    text-transform: uppercase;
    @include font-size(h1);
    margin-bottom: 20px;
  }
  &__info {
    display: flex;
    margin-bottom: 20px;
  }
  &__date {
    margin-right: 24px;
    letter-spacing: 0.15em;
    color: color(grey);
  }
  &__tag {
    color: color(primary);
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }
  &__txt {
    @include the-content;
    h1,
    h2 {
      font-weight: fw(light);
      letter-spacing: 0.15em;
    }
  }
  .card-primary {
    margin-bottom: 42px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
