-
  data = {
    category: 'Talks & Workshop',
    img: 'post-11.jpg',
    title: 'Online Design Talks with Mauro Panzeri',
    date: '23 March 2022',
    tag: 'Talks & Workshop',
    side: {
      to: 'category.html',
      title: 'Related Article',
      list: [
        {
          to: 'single.html',
          img: 'post-12.jpg',
          title: 'Online Masterclass with Andra Matin',
          date: '23 March 2022',
          tag: 'Talks & Workshop',
          desc: 'Andra Matin class uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.'
        },
        {
          to: 'single.html',
          img: 'post-14.jpg',
          title: 'Online Masterclass with Budi Pradono',
          date: '16 February 2022',
          tag: 'Talks & Workshop',
          desc: 'Budi Pradono class uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.'
        },
        {
          to: 'single.html',
          img: 'post-15.jpg',
          title: 'Online Design Talks with Yori Antar',
          date: '23 March 2022',
          tag: 'Talks & Workshop',
          desc: 'If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators.'
        },
      ]
    }
  }

include ../../layouts/single-posts.pug
