//-------------------------------------------------------------------------------
  @name: Address
  -------------------------------------------------------------------------------//

//address
.address
  h2 Andra matin architects
  p
    | Jl. Manyar III Blok O-3 Kav. 29-30 No. 4-6
    | Bintaro Jaya Sektor I
    | Jakarta Selatan 12330
    | Indonesia
  p
    | telp: +62 21 735 3338
    | email:
    a(href="mailto:admin@andramatin.com") admin@andramatin.com
  a(href="https://www.andramatin.com") www.andramatin.com
///address
