//-------------------------------------------------------------------------------
  @name: Gallery
  -------------------------------------------------------------------------------//

.wp-block-gallery
  figure.wp-block-image
    =`\n`
    img(src='assets/img/dummy/archive-gallery.jpg', alt='bdd')/
    figcaption This book is a treatise on the theory of ethics, very popular during the Renaissance
  figure.wp-block-image
    =`\n`
    img(src='assets/img/dummy/participant-5.jpg', alt='bdd')/
    figcaption This book is a treatise on the theory of ethics, very popular during the Renaissance 2
  figure.wp-block-image
    =`\n`
    img(src='assets/img/dummy/participant-4.jpg', alt='bdd')/
    figcaption This book is a treatise on the theory of ethics, very popular during the Renaissance 3
