//-------------------------------------------------------------------------------
  @name: Single Events
  -------------------------------------------------------------------------------//

//single-events
.single-events
  =`\n`
  figure.single-events__img
    =`\n`
    img.single-events__img__el(src='assets/img/dummy/single-post.jpg' alt='bdd')/
  p.single-events__date Wednesday, Mar 23th 2020
  p.single-events__time 16.00 am
  ul.single-events__share
    li.single-events__share__item
      =`\n`
      a.single-events__share__link(href='#')
        =`\n`
        i.fi.fi-fb
        =`\n`
    li.single-events__share__item
      =`\n`
      a.single-events__share__link(href='#')
        =`\n`
        i.fi.fi-tw
        =`\n`
    li.single-events__share__item
      =`\n`
      a.single-events__share__link(href='#')
        =`\n`
        i.fi.fi-wa
        =`\n`
    li.single-events__share__item
      =`\n`
      a.single-events__share__link(href='#')
        =`\n`
        i.fi.fi-mail
        =`\n`
    li.single-events__share__item
      =`\n`
      a.single-events__share__link(href='#')
        =`\n`
        i.fi.fi-copy
        =`\n`
  .single-events__action
    =`\n`
    a.btn.btn--tertiary(href="#") Get Ticket
  .single-events__apps
    =`\n`
    figure.single-events__apps__img
      =`\n`
      img.single-events__apps__img__el(src='assets/img/dummy/app-store.png', alt='App Store')/
    =`\n`
    figure.single-events__apps__img
      =`\n`
      img.single-events__apps__img__el(src='assets/img/dummy/google-play.png', alt='Google Play')/
///single-events
