//-------------------------------------------------------------------------------
  @name: Sort
  -------------------------------------------------------------------------------//

//sort
.sort
  =`\n`
  button.sort__btn.js-sort-btn(type='button') Sort
    =`\n`
    i.fi.fi-arrow-down
    =`\n`
  ul.sort__list
    li.sort__item
      =`\n`
      a.sort__link(href='#') A — Z
    li.sort__item
      =`\n`
      a.sort__link(href='#') Z — A
///sort
