//-------------------------------------------------------------------------------
  @name: Upcoming Events
  -------------------------------------------------------------------------------//

//upcoming-events
.upcoming-events
  =`\n`
  figure.wp-block-image.size-full
    =`\n`
    img.wp-image-65(width='620', height='748', src='assets/img/dummy/upcoming-events.jpg', sizes='(max-width: 620px) 100vw, 620px' alt='bdd')/
  p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
  .wp-container-1.wp-block-buttons
    .wp-block-button
      =`\n`
      a.wp-block-button__link(href='https://google.com', target='_blank', rel='noreferrer noopener') Get Ticket
///upcoming-events
