/* ==========================================================================
 Init: Fonts
 ========================================================================== */

@font-face {
  font-family: "Bintaro-Design-District";
  src: url("../../fonts/Bintaro-Design-District.eot?90y9gs");
  src: url("../../fonts/Bintaro-Design-District.eot?90y9gs#iefix")
      format("embedded-opentype"),
    url("../../fonts/Bintaro-Design-District.ttf?90y9gs") format("truetype"),
    url("../../fonts/Bintaro-Design-District.woff?90y9gs") format("woff"),
    url("../../fonts/Bintaro-Design-District.svg?90y9gs#Bintaro-Design-District")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
