-
  data = {
    desc: 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.',
    list: [
      {
        title: 'Main Sponsors',
        list: [
          {
            img: 'sponsor-1.png'
          },
          {
            img: 'sponsor-2.png'
          },
          {
            img: 'sponsor-3.png'
          },
          {
            img: 'sponsor-4.png'
          },
          {
            img: 'sponsor-5.png'
          },
          {
            img: 'sponsor-6.png'
          },
          {
            img: 'sponsor-7.png'
          },
          {
            img: 'sponsor-8.png'
          },
        ]
      },
      {
        title: 'Event Partner',
        list: [
          {
            img: 'sponsor-1.png'
          },
          {
            img: 'sponsor-2.png'
          },
          {
            img: 'sponsor-3.png'
          },
          {
            img: 'sponsor-4.png'
          },
          {
            img: 'sponsor-5.png'
          },
          {
            img: 'sponsor-6.png'
          },
          {
            img: 'sponsor-7.png'
          },
          {
            img: 'sponsor-8.png'
          },
        ]
      },
    ]
  }

include ../../layouts/sponsors.pug
