/* ==========================================================================
   Components Pagination
   ========================================================================== */

.pagination {
  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  li {
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    text-decoration: none;
    transition: all 0.3s ease;
    letter-spacing: 0.03em;
    &:hover {
      color: color(primary);
    }
  }
  .current {
    color: color(primary);
  }
}
