/* ==========================================================================
   Components Pagination
   ========================================================================== */

.pagination {
  @include medium {
    padding-left: 16px;
    padding-right: 16px;
  }
  @include small {
    padding-left: 20px;
    padding-right: 20px;
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  li {
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    text-decoration: none;
    transition: all 0.3s ease;
    letter-spacing: 0.03em;
    @include small {
      @include font-size(h4-b);
    }
    &:hover {
      color: color(primary);
    }
  }
  .current {
    color: color(primary);
    @include small {
      @include font-size(h4-b);
    }
  }
}
