/* ==========================================================================
   Components Upcoming Events
   ========================================================================== */

.upcoming-events {
  .wp-block-image {
    margin: 0 0 18px;
    img {
      width: 100%;
      height: initial;
    }
  }
  p {
    letter-spacing: 0.03em;
    margin-bottom: 27px;
    @include small {
      @include font-size(h4);
    }
  }
  a {
    text-decoration: none;
    color: color(primary);
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.8;
    }
  }
  .wp-block-button__link {
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.3s ease;
    letter-spacing: 0.03em;
    padding: 5px 8px;
    border-radius: 2px;
    min-width: 84px;
    color: color(black);
    border: 1px solid color(black);
    @include font-size(h3);
    &:hover {
      background-color: color(silver);
    }
  }
}
