-
  data = {
    category: 'Main Events',
    menu: [
      {
        to: '#',
        title: 'Open Studio',
      },
      {
        to: '#',
        title: 'Exhibition',
      },
      {
        to: '#',
        title: 'Open Architecture',
      },
      {
        to: '#',
        title: 'Talks & Workshop',
      },
    ],
    events: {
      img: 'upcoming-events.jpg',
      description: 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.',
      link: 'https://google.com'
    },
    list: [
      {
        img: 'post-1.jpg',
        title: 'BDD Center Competition',
        date: '26 March 2020',
        tag: 'Exhibition',
        desc: 'BDD Center Competition uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.'
      },
      {
        img: 'participant-5.jpg',
        title: 'Security Post by Budipradono Architects',
        date: '18 Juli 2021',
        tag: 'Studio',
        desc: 'This spot is one of the neglected spaces in the residential area of Sector 2 because it is no longer functioning as a security post. Therefore the space would be converted as an extension of a garden.'
      },
      {
        img: 'post-11.jpg',
        title: 'Online Design Talks with Mauro Panzeri',
        date: '23 March 2020',
        tag: 'Talks & Workshop',
        desc: 'If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators.'
      },
      {
        img: 'post-2.jpg',
        title: 'Curatorial Review',
        date: '12 March 2020',
        tag: 'Exhibition',
        desc: 'If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.'
      },
      {
        img: 'post-7.jpg',
        title: 'Diff-a-ble by Studio ArsitektropiS',
        date: '16 September 2020',
        tag: 'Studio',
        desc: 'This installation stands on the land to be built by an Extension School of Sayap Ibu Foundation. which this allows visitors to feel a position as children with disabilities in carrying out their daily activities.'
      },
      {
        img: 'post-12.jpg',
        title: 'Online Masterclass with Andra Matin',
        date: '23 March 2022',
        tag: 'Talks & Workshop',
        desc: 'Andra Matin class uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.'
      },
      {
        img: 'post-13.jpg',
        title: 'Design Talks with Abie Abdillah',
        date: '23 March 2022',
        tag: 'Talks & Workshop',
        desc: 'If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators.'
      },
      {
        img: 'post-3.jpg',
        title: 'Curatorial Review',
        date: '12 March 2022',
        tag: 'Exhbition',
        desc: 'BDD Center Competition uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.'
      },
      {
        img: 'post-8.jpg',
        title: 'Comparing Perspective by Rumah Miring by CGartspace',
        date: '23 March 2022',
        tag: 'Studio',
        desc: 'Kemalezedine dalam delapan tahun terakhir banyak membuat pergerakan seni terkait dengan sejarah seni di Bali hingga...'
      },
    ]
  }

include ../../layouts/category.pug
