extends ../templates/default.pug

//- Head
block siteHeader
  -
    siteTitle = 'About';

//- Body
block siteContent
  -
    data = {
      modifier: 'about',
      title: 'About BDD'
    }
  //- About
  include ../layouts/default.pug
