extends ../templates/default.pug

//- Head
block siteHeader
  -
    siteTitle = 'Strategic Partner';

//- Body
block siteContent
  -
    data = {
      modifier: 'strategic-partner',
      title: 'Strategic Partner'
    }
  //- Startegic Partner
  include ../layouts/default.pug
