/* ==========================================================================
   Elements Burger Menu
   ========================================================================== */

.burger-menu {
  $bg: &;
  width: 34px;
  height: 32px;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  &:hover {
    #{$bg} {
      &__bar {
        &::after {
          left: 0;
        }
      }
    }
  }
  &__bar {
    position: relative;
    display: block;
    overflow: hidden;
    width: 34px;
    height: 1px;
    border-radius: 1px;
    background-color: color(black);
    margin-bottom: 12px;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: color(primary);
      position: absolute;
      top: 0;
      left: 100%;
      z-index: 1;
      transition: all 0.3s ease;
    }
    &:nth-child(1) {
      &::after {
        transition-delay: 0.1s;
      }
    }
    &:nth-child(2) {
      &::after {
        transition-delay: 0.2s;
      }
    }
    &:nth-child(3) {
      margin-bottom: 0;
      &::after {
        transition-delay: 0.3s;
      }
    }
  }
}
