-
  data = {
    events: {
      img: 'upcoming-events.jpg',
      description: 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.',
      link: 'https://google.com'
    },
    posts: [
      {
        to: 'category.html',
        title: 'Main Events',
        current: 'Talk & Workshop',
        category: [
          {
            name: 'Open Studio'
          },
          {
            name: 'Exhibition'
          },
          {
            name: 'Open Architecture'
          },
          {
            name: 'Talk & Workshop'
          },
        ],
        list: [
          {
            img: 'post-1.jpg',
            title: 'BDD Center Competition',
            date: '26 March 2020',
            tag: 'Exhibition',
            desc: 'BDD Center Competition uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.'
          },
          {
            img: 'post-2.jpg',
            title: 'Curatorial Review',
            date: '12 March 2020',
            tag: 'Exhibition',
            desc: 'If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.'
          },
          {
            img: 'post-3.jpg',
            title: 'Curatorial Review',
            date: '12 March 2020',
            tag: 'Exhibition',
            desc: 'If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.'
          },
          {
            img: 'post-4.jpg',
            title: 'Arkonin’s Open Exhibition by PT. Arkonin',
            date: '12 March 2020',
            tag: 'Exhibition',
            desc: 'This installation stands on the land to be built by an Extension School of Sayap Ibu Foundation. which this allows visitors to feel a position as children with disabilities in carrying out their daily activities.'
          },
          {
            img: 'post-5.jpg',
            title: 'Parklet: Place Making for Inclusive City',
            date: '12 March 2020',
            tag: 'Exhibition',
            desc: 'If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.'
          },
        ]
      },
      {
        to: 'category.html',
        title: 'Installation',
        category: [
          {
            name: '1 x 1 Installation'
          },
          {
            name: 'Chair Exhibition'
          }
        ],
        list: [
          {
            img: 'post-6.jpg',
            title: 'Security Post by Budipradono Architects',
            date: '26 March 2020',
            tag: 'Studio',
            desc: 'BDD Center Competition uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.'
          },
          {
            img: 'post-7.jpg',
            title: 'Diff-a-ble by Studio ArsitektropiS',
            date: '12 March 2020',
            tag: 'Studio',
            desc: 'If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.'
          },
          {
            img: 'post-8.jpg',
            title: 'Comparing Perspective by Rumah Miring by CGartspace',
            date: '12 March 2020',
            tag: 'Studio',
            desc: 'If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.'
          },
          {
            img: 'post-9.jpg',
            title: 'Arkonin’s Open Exhibition by PT. Arkonin',
            date: '12 March 2020',
            tag: 'Studio',
            desc: 'This installation stands on the land to be built by an Extension School of Sayap Ibu Foundation. which this allows visitors to feel a position as children with disabilities in carrying out their daily activities.'
          },
          {
            img: 'post-10.jpg',
            title: 'AlvinT x Museum Macan',
            date: '12 March 2020',
            tag: 'Studio',
            desc: 'If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.'
          },
        ]
      },
      {
        to: 'category.html',
        title: 'Collateral Events',
        category: [
          {
            name: 'Collateral Events 1'
          },
          {
            name: 'Collateral Events 2'
          },
          {
            name: 'Collateral Events 3'
          },
        ],
        list: [
          {
            img: 'post-11.jpg',
            title: 'Security Post by Budipradono Architects',
            date: '26 March 2020',
            tag: 'Talks',
            desc: 'BDD Center Competition uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.'
          },
          {
            img: 'post-12.jpg',
            title: 'Diff-a-ble by Studio ArsitektropiS',
            date: '12 March 2020',
            tag: 'Talks',
            desc: 'If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.'
          },
          {
            img: 'post-13.jpg',
            title: 'Comparing Perspective by Rumah Miring by CGartspace',
            date: '12 March 2020',
            tag: 'Talks',
            desc: 'If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.'
          },
          {
            img: 'post-14.jpg',
            title: 'Arkonin’s Open Exhibition by PT. Arkonin',
            date: '12 March 2020',
            tag: 'Talks',
            desc: 'This installation stands on the land to be built by an Extension School of Sayap Ibu Foundation. which this allows visitors to feel a position as children with disabilities in carrying out their daily activities.'
          },
          {
            img: 'post-15.jpg',
            title: 'AlvinT x Museum Macan',
            date: '12 March 2020',
            tag: 'Talks',
            desc: 'If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.'
          },
        ]
      },
    ]
  }

include ../../layouts/home.pug
