//-------------------------------------------------------------------------------
  @name: About
  -------------------------------------------------------------------------------//

//about
.about
  .container
    .about__content
      section.about__side
        include sidenav.pug
        ul.about__side__list
      section.about__posts
        .about__head
          h2.about__title about bdd
        .about__body
          figure.about__img
            =`\n`
            img.about__img__el(src='assets/img/dummy/about-bdd.jpg', alt='about bdd')/
          h2.about__body__title bintaro design district exists to stimulate, enable and award creative excellence in design and advertising
          .about__txt
            h3 The Backstory
            p In 1962 a group of designers and art directors come together to celebrate creative communication and raise standards within their industry.
            p Amongst the group are David Bailey, Terence Donovan and Alan Fletcher. Calling themselves British Design & Art Direction, the following year they organise their first Awards event. And they are picky. From 2,500 entries they select just 16 pieces of work to receive the soon-to-be coveted D&AD Yellow Pencil; the first of its kind.
            p Today, British Design & Art Direction has grown mightily, but slimmed down its name. Now D&AD, its members represent the creative, design and advertising communities, not just in Britain, but worldwide.
            br
            h3 What is BDD?
            p Since 1962, D&AD has been inspiring a community of creative thinkers by celebrating and stimulating the finest in design and advertising. The D&AD Awards are recognised globally as the ultimate creative accolade, entered and attended by the best from around the world.
            p But it's much more than just awards. Members join a vibrant global community, whilst creatives and clients are inspired by a world-class Training programme.
            p As a non-profit advertising and design association, all D&AD's surpluses go straight into programmes such as New Blood, inspiring the next generation of creative talent and stimulating the creative industry to work towards a fairer more sustainable future.
            p D&AD is a Member-run organisation, led by an elected Board of Trustees. Each year D&AD appoints a President from the Board of Trustees to lead the charge and shape the conversations for the year ahead. The job of the president is to galvanise the creative communities and bring them together to inspire and celebrate the finest in design and advertising.
            p The D&AD Board of Trustees represent the full breadth of the advertising, design and digital industries. As a member-run organisation, the elected board are responsible for the overall direction of D&AD, its programmes and where its money is spent.
            p Bintaro Design District will take place 7-18 June 2023.
            p Stay up to date with what we’re up to:
              a(href="https://google.com")  Facebook,</a>
              a(href="https://google.com") Twitter, </a>
              a(href="https://google.com") Instagram </a>
              | and
              a(href="https://google.com")  YouTube</a>
              | .
      section.about__related
        h2.about__related__title Upcoming Events
        include ../components/upcoming-events.pug
///about
