//-------------------------------------------------------------------------------
  @name: Archive
  -------------------------------------------------------------------------------//

//archive
.archive
  .container
    .archive__content
      section.archive__side
        include sidenav.pug
        h3.archive__side__title Archive
        ul.archive__side__list
          li.archive__side__item.active
            =`\n`
            a.archive__side__link(href='archive.html') 2019
          li.archive__side__item
            =`\n`
            a.archive__side__link(href='archive.html') 2018
          li.archive__side__item
            =`\n`
            a.archive__side__link(href='archive.html') 2017
      section.archive__posts
        .archive__head
          h2.archive__title 2019 : inclusivity
        .archive__body
          h3 Lorem Ipsum
          p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of “de Finibus Bonorum et Malorum” (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, “Lorem ipsum dolor sit amet..”, comes from a line in section 1.10.32.
          h3 Lorem Ipsum
          p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure
          h3 Gallery
          include ../components/gallery.pug
      section.archive__related
        h2.archive__related__title Information
        .archive__related__content
          h3 Exhibition
          p November 28th  — October 31th
          h3 Location
          p DD. Design Space (PT. Dedato Indonesia) Jl. Jambu FA 3 No. 45, Sektor 7, Bintaro Jaya
          h3 Initiated and Curated by
          p Andra Matin, Danny Wicaksono, Budi Pradono, Hermawan Tanzil.
          h3 Participants
          p Dimitris Potiropoulos
            br/
            | Antoine Predock
            br/
            | Joshua Prince-Ramus
            br/
            | Philippe Rahm
            br/
            | Florent Nédélec
            br/
            | Enamul Karim
            br/
            | Renzo Piano - Italy
            br/
            | Nirjhar
            br/
            | Samuel
            br/
            | Oghale Oboh
            br/
            | Richard Rogers - UK
            br/
            | Neri Oxman
            br/
            | Thomas Phifer
            br/
            | Fernando Romero - Mexico
            br/
            | Adrian Smith
            br/
            | Galia Solomonoff
            br/
            | Kazuyo Sejima - Japan
            br/
            | Marshall Strabala
            br/
            | Ross Wimer
            br/
            | Sheila Sri Prakash - India
            br/
            | Paul Steelman - USA
///archive
