//-------------------------------------------------------------------------------
  @name: Top
  -------------------------------------------------------------------------------//

//top
top.top
  .container
    .top__content
      h1.top__txt BINTARO DESIGN DISTRICT
        span 2020
      =`\n`
      form.top__search.js-top-search
        =`\n`
        input.top__search__bar(type='search' name='s' placeholder='ENTER A SEARCH TERM...' autocomplete='off')/
        =`\n`
        button.top__search__btn.btn.btn--secondary(type='submit')
          =`\n`
          span Search
          =`\n`
          i.fi.fi-search
          =`\n`
///top
