//-------------------------------------------------------------------------------
  @name: Category
  -------------------------------------------------------------------------------//

//category
.layout-primary.layout-primary--category
  .container
    .layout-primary__content
      section.layout-primary__side
        include sidenav.pug
        include ../components/upcoming-events.pug
      section.layout-primary__posts
        .layout-primary__head
          .layout-primary__main
            h2.layout-primary__name !{data.category}
              =`\n`
              i.fi.fi-arrow-right
            ul.layout-primary__sub-category
              each val in data.menu
                li.layout-primary__sub-category__item
                  =`\n`
                  a.layout-primary__sub-category__link(href=val.to) !{val.title}
          include ../components/sort.pug
        .layout-primary__list
          each item in data.list
            include ../components/card-primary.pug
        include ../components/pagination.pug
///category
