//-------------------------------------------------------------------------------
  @name: Footer
  -------------------------------------------------------------------------------//

//footer
.footer
  .container
    p.footer__copyright &copy; 2020 Bintaro Design District. All rights reserved.
///footer
