//-------------------------------------------------------------------------------
  @name: Header
  -------------------------------------------------------------------------------//

//header
header.header
  .container
    .header__content
      h1.header__txt BINTARO DESIGN DISTRICT
        span 2020
      =`\n`
      form.header__search.js-header-search
        =`\n`
        input.header__search__bar(type='search' name='s' placeholder='ENTER A SEARCH TERM...' autocomplete='off')/
        =`\n`
        button.header__search__btn.btn(type='submit')
          =`\n`
          span Search
          =`\n`
          i.fi.fi-search
///header
