//-------------------------------------------------------------------------------
  @name: Header
  -------------------------------------------------------------------------------//

//header
header.header
  .container
    .header__content
      h1.header__txt BINTARO DESIGN DISTRICT 2020
      .header__search
        =`\n`
        button.header__search__btn
          | Search
          i.fi.fi-search
        =`\n`
        input.header__search__bar(type='search' name='s' placeholder='ENTER A SEARCH TERM...')
///header
