//-------------------------------------------------------------------------------
  @name: Landing
  -------------------------------------------------------------------------------//

//landing
.landing.snap-section(data-section-name='landing')
  .landing__img
    =`\n`
    img.landing__img__el.landing__img__el--d(src='assets/img/dummy/landing.jpg', alt='bdd')/
    =`\n`
    img.landing__img__el.landing__img__el--m(src='assets/img/dummy/landing-m.png', alt='bdd')/
  .landing__logo
    img.landing__logo__el(src='assets/img/logo/bintaro-design-district-white.svg', alt='bdd')/
  .landing__txt
    h2.landing__txt__title berbagi masa depan | common future
    p.landing__txt__desc an event for Architecture, Graphic Design, Interior Design, Product Design and other design or creative fields
    =`\n`
    img.landing__txt__img(src='assets/img/dummy/landing-txt.png', alt='bdd')/
    h2.landing__txt__year 2020
  .landing__arrow.js-landing-arrow
    =`\n`
    img.landing__arrow__el(src="assets/img/icons/arrow-landing.svg", alt='arrow')/
///landing
