//-------------------------------------------------------------------------------
  @name: Layout Primary
  -------------------------------------------------------------------------------//

//layout-primary
.layout-primary(class=(data.modifier ? 'layout-primary--' + data.modifier : ''))
  .container
    .layout-primary__content
      section.layout-primary__side
        include sidenav.pug
        include ../components/upcoming-events.pug
      section.layout-primary__posts
        .layout-primary__head
          .layout-primary__main

            //- category
            if data.modifier === 'category'
              =`\n`
              a.layout-primary__category(href="category.html") !{data.category}
              =`\n`
              i.fi.fi-arrow-right
              ul.layout-primary__sub-category
                each val in data.menu
                  li.layout-primary__sub-category__item
                    =`\n`
                    a.layout-primary__sub-category__link(href=val.to) !{val.title}

            //- participants, search
            else
              h2.layout-primary__name !{data.category}

          include ../components/sort.pug
        .layout-primary__body
          .layout-primary__list.js-layout-primary
            .layout-primary__sizer
            each item in data.list
              include ../components/card-primary.pug
          include ../components/pagination.pug
///layout-primary
