//-------------------------------------------------------------------------------
  @name: Sidenav
  -------------------------------------------------------------------------------//

//sidenav
.sidenav
  .sidenav__head
    =`\n`
    button.sidenav__logo.btn.js-sidenav-logo(type='button')
      =`\n`
      img.sidenav__logo__el(src='assets/img/logo/bintaro-design-district.svg', alt='bdd')/
      =`\n`
    =`\n`
    button.burger-menu.js-burger-menu
      =`\n`
      span.burger-menu__bar
      =`\n`
      span.burger-menu__bar
      =`\n`
      span.burger-menu__bar
      =`\n`
///sidenav
