//-------------------------------------------------------------------------------
  @name: Sponsors
  -------------------------------------------------------------------------------//

//sponsors
.sponsors
  .container
    .sponsors__content
      section.sponsors__side
        include sidenav.pug
        .sponsors__txt
          p !{data.desc}
      section.sponsors__posts
        .sponsors__head
          h2.sponsors__title sponsors
          .sponsors__txt
            p !{data.desc}
        .sponsors__body
          each val in data.list
            .sponsors__row
              h3.sponsors__subtitle !{val.title}
              ul.sponsors__list
                each item in val.list
                  li.sponsors__item
                    =`\n`
                    figure.sponsors__img
                      =`\n`
                      img.sponsors__img__el(src='assets/img/dummy/'+item.img, alt='sponsors')/
///sponsors
