//-------------------------------------------------------------------------------
  @name: Top
  -------------------------------------------------------------------------------//

//top
.top
  .container
    .top__content
      if homepage
        h1.top__txt.js-sidenav-logo BINTARO DESIGN DISTRICT
          span 2020
      else
        h1.top__txt
          =`\n`
          a(href='/')
            | BINTARO DESIGN DISTRICT
            span 2020
      =`\n`
      form.top__search.js-top-search
        =`\n`
        input.top__search__bar(type='search' name='s' placeholder='ENTER A SEARCH TERM...' autocomplete='off')/
        =`\n`
        button.top__search__btn.btn.btn--secondary(type='submit')
          =`\n`
          span Search
          =`\n`
          i.fi.fi-search
          =`\n`
///top
