/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  top: 9,
  overlay: 11,
  header: 12,
  card-primary-link: 1,
  landing-logo: 1,
  landing-txt: 1,
  landing-arrow: 1,
);
