/* ==========================================================================
   Mixin Content
   ========================================================================== */

@mixin the-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  table,
  form {
    max-width: 94.084%;
    @include small {
      max-width: initial;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: fw(regular);
    margin-bottom: 24px;
    letter-spacing: 0.03em;
    @include small {
      @include font-size(h4);
    }
  }
  p {
    margin-bottom: 24px;
    letter-spacing: 0.03em;
    @include small {
      @include font-size(h4);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    text-decoration: none;
    color: color(primary);
  }
  .wp-block {
    &-gallery {
      margin: 0 0 24px;
      .main-site--hide & {
        opacity: 0;
      }
      &.has-nested-images figure.wp-block-image {
        &:not(#individual-image) {
          width: 100%;
          margin: 0;
        }
        figcaption {
          background: initial;
          bottom: initial;
          left: initial;
          position: relative;
          margin-top: 12px;
          letter-spacing: 0.15em;
          color: color(grey);
          padding: 0;
          text-align: left;
          @include font-size(h6);
          @include small {
            @include font-size(small);
          }
        }
      }
      &.owl-carousel {
        button.owl-prev,
        button.owl-next {
          width: 45px;
          height: 45px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin-top: -15px;
          transition: all 0.3s ease;
          @include medium {
            width: 32px;
            height: 32px;
          }
          @include small {
            width: 24px;
            height: 24px;
          }
          span {
            display: none;
          }
        }
        button.owl-prev {
          left: 16px;
          background: url(../img/icons/arrow-left-gallery.svg) no-repeat center
            center;
          @include small {
            left: 9px;
          }
          &:hover {
            transform: translateY(-50%) translateX(-4px);
          }
        }
        button.owl-next {
          right: 16px;
          background: url(../img/icons/arrow-right-gallery.svg) no-repeat center
            center;
          @include small {
            right: 9px;
          }
          &:hover {
            transform: translateY(-50%) translateX(4px);
          }
        }
      }
    }
    &-image {
      margin: 0;
      width: 100%;
      .main-site--hide & {
        opacity: 0;
      }
      &-box {
        position: relative;
        width: 100%;
        padding-bottom: 66.617%;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      figcaption {
        margin-top: 12px;
        letter-spacing: 0.15em;
        color: color(grey);
        @include font-size(h6);
        @include small {
          @include font-size(small);
        }
      }
    }
    &-embed__wrapper {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-bottom: 56.25%;
      .main-site--hide & {
        opacity: 0;
      }
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }
  > .wp-block-image {
    margin-bottom: 24px;
  }
}
